/* Color ================================================*/
:root {
    --mainColor : #3F969A;
    --subColor : #78CDD0;
    --primaryColor : #E4FEFF;
    --titleColor : #1a1a1a;
    --descColor : #666666;
    --borderColor-300 : #ededed;
    --borderColor-500 : #d1d1d1;
    --pc_descSize : 1.6rem;
    --tablet_descSize : 1.4rem;
    --mobile_descSize : 1.2rem;
    --box-shadow__A : rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* Typography ================================================*/
body, input, select, textarea, button, table {
    font-family : 'SCoreDream',sans-serif;
    font-size : 1.6rem;
    font-weight : 400;/*100~900*/
    color: var(--descColor);
    line-height : 1.618;
}
a {
    text-decoration: none;
    color: var(--descColor);
}